<h3><%= @user.name || @user.email %><span> (<%= pluralize(@user.posts.count, 'post') %>)</span></h3>

<% @user.posts.each do |post| %>

<div class="ui grid">
 <div class="row">
    <div class="thirteen wide column">
      <div class="segment">
        <div class="qwap list">
          <h5><%= post.body %>( <span><em><%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago</em></span> )</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<h3><%= link_to "Back", :back %></h3>