<h3><%= @user.name || @user.email %><span> (<%= pluralize(@user.posts.count, 'post') %>)</span>
   <% if false%><%= render partial: 'follows/follow', locals: { user_id: @user.name } %><% end %>
</h3>





<% if false %>
<div class="page">
<%= will_paginate @posts.name %>
</div>
<% end %>





<% @user.posts.each do |post| %>

<div class="ui grid">
 <div class="row">
  <div class="column">
      <div class="segment">
        <div class="votes">
          <%= render partial: 'votes/voter', locals: { post: post } %>
        </div>
      </div>
    </div>
    <div class="fourteen wide column">
      <div class="segment">
        <div class="qwap list">
          <h5><%= post.body %>( <span><em><%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago, </em>[<%= pluralize(post.up_votes, 'up vote') %>/<%= pluralize(post.down_votes, 'down vote') %>]</span> )<br><span><p><%= render partial: 'favorites/favorite', locals: { post: post } %></p> </span></h5>
            <%= link_to 'collab-o-qwap(comment)', new_post_comment_path(post), class: 'basic ui button' %>


            <% if false %>
            <%= link_to 'tag qwap', edit_post_path(post), class: 'basic ui button' %>
            <% end %>



            <% if false %> If qwap is already asigned a type the button will be labeled that type 
            <%= link_to 'qwap type?', edit_post_path(post), class: 'basic ui button' %>
            <% end %>



          <% if policy(post).update? %>
              <%= link_to "edit qwap", edit_post_path(post), class: "basic ui button" %>
            <% end %>  
            <% if policy(post).destroy? %>
              <%= link_to "vaporize!", post, method: :delete, data: { confirm: 'Final answer? Cause this qwap is about to be gone.'}, class: "basic ui button" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>





<% if false %>
<div class="page">
<%= will_paginate @posts.name %>
</div>
<% end %>





<h3><%= link_to "Back", :back %></h3>


