<h3>Sign in</h3>
<h5>To get qwapping just sign in or if you haven't signed up yet do that and then get your qwap on!</h5>
<div class="signin">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="signin btn"><%= f.submit "Sign in", class: 'basic ui button' %></div>
<% end %>
<div>

<%= render "devise/shared/links" %>
