<h3>List of all the qwap:</h3>

<div class="page">
<%= will_paginate @posts %>
</div>

<% if policy(Post.new).create? %>
<%= link_to "Add more qwap!", new_post_path, class: "basic ui button" %>
<% end %>


<% @posts.each do |post| %>
<div class="ui grid">
 <div class="row">
    <div class="four column">
      <div class="segment">
        <div class="votes">
          <%= render partial: 'votes/voter', locals: { post: post } %>
        </div>
      </div>
    </div>
    <div class="thirteen wide column">
      <div class="segment">
        <div class="qwap list">
          <h5><%= post.body %> <br>( <span><em><%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago</em></span> )</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>



<div class="page">
<%= will_paginate @posts %>
</div>
