<h3>list of all the qwap:</h3>

<div class="page">
<%= will_paginate @posts %>
</div>

<% if policy(Post.new).create? %>
<%= link_to "add more qwap!", new_post_path, class: "basic ui button" %>
<% else%>
<%= link_to "add more qwap!", new_user_session_path, class: "basic ui button" %>
<% end %>

<%= link_to "newest", newest_posts_path, class: "basic ui button" %>

<%= link_to "oldest", oldest_posts_path, class: "basic ui button" %>

<%= link_to "best", best_posts_path, class: "basic ui button" %>

<%= link_to "worst", worst_posts_path, class: "basic ui button" %>

<%#= link_to "random", post_comments_path(@post), class: "basic ui button" %>
  
<% @posts.each do |post| %>
  <div class="ui grid">
   <div class="row">
      <div class="column">
        <div class="segment">
          <div class="votes">
            <%= render partial: 'votes/voter', locals: { post: post } %>
          </div>
        </div>
      </div>
      <div class="fourteen wide column">
        <div class="segment">
          <div class="qwap list">

            <% if false %><h5><%= post.body %> <br>
              ( <span><em><%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago, </em>[<%= pluralize(post.up_votes, 'up vote') %>/<%= pluralize(post.down_votes, 'down vote') %>]</span> )<br>
              <span></p><%= render partial: 'favorites/favorite', locals: { post: post } %></p></span><a href="https://twitter.com/share" class="basic ui button" data-lang="en">Tweet</a></h5>
            <% end %>

              <h5><%= post.body %>
              <div class="post user name">
                <%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago,
              </div>
              <div class="votes total">
                [<%= pluralize(post.up_votes, 'up vote') %>/<%= pluralize(post.down_votes, 'down vote') %>]
              </div>

              
              <div class="fav">
                <%= render partial: 'favorites/favorite', locals: { post: post } %>
              </div>

              <% if current_user %>
              <div class="tweet">
                <a href="https://twitter.com/share" class="basic ui button" data-lang="en">Tweet</a>
              </div>

              <% else %>

              <div class="tweet pull left">
                <a href="https://twitter.com/share" class="basic ui button" data-lang="en">Tweet</a>
              </div>
              <% end %>

              </h5>

              

              <% if false %>
              Previous layout option
              <div class="comment count">
                <%= pluralize post.comments.count, 'comment' %>
              </div>
              <% end %>

              <% if false %>
              <% if policy(post).update? %>
              <div class="edit">
              <%= link_to edit_post_path(post), class: "basic ui icon" do %>
              <i class="pencil icon"></i>
              <% end %>
              </div>
            <% end %>  


            <% if policy(post).destroy? %>
            <div class="delete">
              <%= link_to post, method: :delete, data: { confirm: 'Final answer? Cause this qwap is about to be real gone.'}, class: "basic ui icon" do %>
                  <i class="remove icon"></i>
                  <% end %>
                </div>
            <% end %>
            <% end %>

             

            <%= link_to post_comments_path(post), class: 'basic ui button' do %>  
            <%= pluralize post.comments.count, 'collab-o-qwap/comment' %>
            <% end %>

            

            <%# Should use ajax to add qwap tags without refresh
            <%= link_to 'tag qwap(coming soon)', posts_path, class: 'basic ui button' %>
          

            <% if policy(post).update? %>
            <%= link_to 'edit qwap', edit_post_path(post), class: 'basic ui button' %>
            <% end %>



            <% if false %> If qwap is already asigned a type the button will be labeled that type
            <%= link_to 'qwap type? (coming soon)', posts_path, class: 'basic ui button' %>
            <% end %>


            <% if policy(post).destroy? %>
            <%= link_to 'vaporize qwap!', post, method: :delete, data: { confirm: 'Final answer? Cause this qwap is about to be real gone.'}, class: 'basic ui button' %>
            <% end %>
            




          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<div class="page">
<%= will_paginate @posts %>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
