<h3>List of all the qwap:</h3>

<div class="page">
<%= will_paginate @posts %>
</div>

<% if policy(Post.new).create? %>
<%= link_to "Add more qwap!", new_post_path, class: "basic ui button" %>
<% end %>

  
<% @posts.each do |post| %>
  <div class="ui grid">
   <div class="row">
      <div class="column">
        <div class="segment">
          <div class="votes">
            <%= render partial: 'votes/voter', locals: { post: post } %>
          </div>
        </div>
      </div>
      <div class="fourteen wide column">
        <div class="segment">
          <div class="qwap list">

            <h5><%= post.body %> <br>( <span><em><%= link_to post.user.name, post.user if post.user %>, <%= time_ago_in_words(post.created_at) %> ago, </em>[<%= pluralize(post.up_votes, 'up vote') %>/<%= pluralize(post.down_votes, 'down vote') %>]</span> )<br><span><p><%= render partial: 'favorites/favorite', locals: { post: post } %></p> </span></h5>

              <% if policy(post).update? %>
              <div class="edit">
              <%= link_to edit_post_path(post), class: "basic ui icon" do %>
              <i class="pencil icon"></i>
              <% end %>
              </div>
            <% end %>  


            <% if policy(post).destroy? %>
            <div class="delete">
              <%= link_to post, method: :delete, data: { confirm: 'Final answer? Cause this qwap is about to be real gone.'}, class: "basic ui icon" do %>
                  <i class="remove icon"></i>
                  <% end %>
                </div>
            <% end %>

             

              

            <%= link_to 'collab-o-qwap(comment)', new_post_comment_path(post), class: 'basic ui button' %>

            

            <% if false %> Should use ajax to add qwaps without refresh <% end %>
            <%= link_to 'tag qwap (coming soon)', posts_path, class: 'basic ui button' %>



            <% if false %> If qwap is already asigned a type the button will be labeled that type <% end %>
            <%= link_to 'qwap type? (coming soon)', posts_path, class: 'basic ui button' %>




          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<div class="page">
<%= will_paginate @posts %>
</div>
