<h3>How to qwap:</h3>
<ol>
  <li>Add new qwap.(keep it PG please)</li>
  <li>200 character limit!</li>
  <li>Save that qwap!</li>
</ol>

<h3>New qwap</h3>

<%= form_for @post do |f| %>
  <div class="new qwap">
    <%= f.text_area :body, placeholder: "Enter your qwap here. 200 characters or fewer FYI" %>
      <span><%= f.submit "Save", class: "ui red button" %></span>
  </div>


  <% if false %>
  <div class="tag btn">
    <%= link_to "Tag qwap (coming soon)", posts_path, class: "basic ui button" %>
    <span class="type btn"><%= link_to "Type?", posts_path, class: "basic ui button" %></span>
  </div>
  <% end %>




  <% if false %>
    </div class="tag field">
      <span><%= f.text_field :body, placeholder: "Enter one word tag here." %><%= f.text_field :body, placeholder: "Enter one word tag here." %><%= f.text_field :body, placeholder: "Enter one word tag here." %></span>
    </div>
  <% end %>
<% end %>








