<% if policy( Vote.new ).create? %>
  <div>
    <div class="up">
      <%= link_to post_up_vote_path(post) do %>
      <i class="triangle up icon"></i>
      <% end %>
    </div>
    
    <div class="points">
      <small><%= pluralize(post.points, '') %></small>


    <% if false %>
    <strong>
      (<%= pluralize(post.up_votes, 'up vote') %>,
      <%= pluralize(post.down_votes, 'down vote') %>)
    </strong>
    <% end %>


    </div>

    <div class="down">
      <%= link_to post_down_vote_path(post) do %>
      <i class="triangle down icon"></i>
      <% end %>
    </div>
  </div>
<% end %>

