<!DOCTYPE html>
<html>
<head>
  <title>qwapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to home_path do %> 
    <img><%= image_tag 'quacker.png' %></img>
    <% end %>

    <%= link_to "qwap", posts_path, class: "basic ui button" %> 
    <%= link_to "qwappers", users_path, class: "basic ui button" %> 

    <% if current_user %>
      <%= link_to (current_user.name || current_user.email), current_user, class: 'basic ui button' %>
      <%= link_to edit_user_registration_path, class: 'basic ui icon button pull right' do %>
        <i class="basic empty star icon"></i>
        <% end %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "basic ui button" %> 
    <% else %>
      <%= link_to "sign in", new_user_session_path, class: "basic ui button" %> 
      <%= link_to "sign up", new_user_registration_path, class: "basic ui button" %> 
    <% end %>
    <%= link_to about_path, class: "basic ui icon button pull right" do %>
      <i class="basic question icon pull right"></i>
    <% end %>
  </header>
    
  <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>



<%= yield %>

<footer>© qwapper LLC 2014</footer>



</body>
</html>
