<!DOCTYPE html>
<html>
<head>
  <title>qwapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= link_to home_path do %> 
    <img><%= image_tag 'quacker.png' %></img>
    <% end %>

    <%= link_to "qwap", posts_path, class: "basic ui button" %> 
    <%= link_to "qwappers", users_path, class: "basic ui button" %> 

    <% if current_user %>
      <%= link_to (current_user.name || current_user.email), current_user, class: 'basic ui button' %>
      <%= link_to edit_user_registration_path, class: 'basic ui icon button pull right' do %>
        <i class="bullseye icon"></i>
        <% end %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "basic ui button" %> 
    <% else %>
      <%= link_to "sign in", new_user_session_path, class: "basic ui button" %> 
      <%= link_to "sign up", new_user_registration_path, class: "basic ui button" %> 
    <% end %>

  </header>

    
  <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>


<%= yield %>


 <footer1>
 <div class="ui horizontal list">
  <div class="item">
    <footer><%= link_to "qwaps by type /", posts_path %></footer>
  </div>
  <div class="item">
   <footer><%= link_to "philosophy of qwap /", about_path %></footer>
  </div>
  <div class="item">
    <footer><%= link_to "sign up /", new_user_registration_path %></footer> 
  </div>
  <div class="item">
    <footer><%= link_to "© qwapper LLC 2014", home_path %></footer>
  </div>
</div>
</footer1>







</body>
</html>
